body{
    background-color:aqua;
}

.page-header-logo{
  position:relative;
  width: 260.59px;
  height: 256.03px; 
  Left:27.93px;
  Radius:12px;
}

h2{
    position: absolute;
    top:200px;
    font-size: 12px;
    Weight :400px;
    height:14.52px;
    margin-left: 130px;

    
}
h1 {
    font-size: 15px;
    margin-left: 60px;
    padding: 0px;
}
h3{
    font-size: 15px;
    margin-left: 20px;
    padding :30px;
}
    

.text{
    margin-left:40px 
}
.page-one{
  width: 260.59px;
  height: 256.03px; 
  margin-left:28px;
  Radius:12px;
}
.novosty{
    writing-mode: vertical-rl;
    height: 4em;
    margin-left: 5px;
    margin-top: -50px
}
